body{
    font-size:10px;
    font-family:Georgia;
    font-style:italic;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}

div{
    display: inline;
}

button {
    margin-left:180px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgba(255, 152, 0, 1);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  button:hover {background-color: #3e8e41}

  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .result{
      margin-left: 190px;
      color: brown;
  }
