body{
    font-size:10px;
    font-family:Georgia;
    font-style:italic;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}

.col-xs-12{
    padding: 0;
}

.container .jumbotron{
    border-radius: 0;
}

.jumbotron{
    height: 15em;
}
.jumbotron img{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin-bottom: 1em;
}

.jumbotron img + p{
    font-size: 2em;
    margin: 0;
}

.list-group-item{
    color: rgba(16, 16, 16, 1);
    border: 1px solid rgba(187, 187, 187, 1);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px 10px 10px 10px;
}

h1{
left: 116px;
top: 240px;
width: 116px;
height: 33px;
line-height: 20px;
color: rgba(16, 16, 16, 1);
font-size: 14px;
text-align: center;
font-family: Arial;

}

.num{
    text-align:right;
}
