.template{
    min-height: 750px;
}
.layer{
    float: top;
    width: 100%;
    padding: 5px;
    height: 24px;
    margin: 5px;
}
.header{
    width:100%;
    float: top;
    display: block;
    padding: 0;
    margin: 0;
}
#SM_img1{
    width: 100%;
    height: auto;
}
.left{
    float: left;
    font-size: 16px;
    color: rgb(61, 61, 61);

}
.right{
    font-size: 16px;
    float: right;
    background-color: #ffffff;
    border: rgba(0,0,0,0);
    margin-right: 15px;
}
.text1{
    font-weight: bolder;
}
.text2{
    color: red;
    font-weight: bolder;
}
.line1{
    border: rgba(227, 227, 227, 0.7) 0.5px solid;
    display: block;
}
.text3{
    font-size: 12px;
    color: rgba(108, 108, 108, 0.7);
    padding: 5px;
}
.layer2{
    float: top;
    width: 100%;
}
.footer{
    position: fixed;
    height: 45px;
    width: 100%;
    bottom: 0;
}
#button1{
    border-radius: 2px;
    background: #007dff;
    color: white;
    font-size: 20px;
    width: 26%;
    height: 100%;
    float: left;
    border: rgba(108,108,108,0.7) 0 solid;
}
#button2{
    color: white;
    border-radius: 2px;
    background: #007dff;
    border-left: #ffffff 2px solid;
    border-right: white 2px solid;
    border-bottom: #ffffff 0 solid;
    border-top:  white 0 solid;
    font-size: 20px;
    width: 37%;
    float: left;
    height: 100%;
}
#button3{
    border-radius: 2px;
    background: #007dff;
    color: white;
    border: rgba(108,108,108,0.7) 0 solid;
    font-size: 20px;
    width: 34%;
    float: left;
    height: 100%;
}

