*{
    margin: 0;
    padding: 0;
}
#top{
    background-color: red;
    width: 100%;
    height: 150px;
    float: top;
}
#pic{
    width: 30%;
    height: 100%;
    border-radius: 50%;
    float: left;
}
#circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    margin-top: 45px;
    margin-left: 30px;
}
#tip{
    text-align: center;
    font-size: large;
    font-weight: bold;
    width: 70%;
    height: 100%;
    color: white;
    float: left;
}
#tip p{
    margin-top: 30px;
    margin-left: -50px;
}
#bottom{
    float: top;
    width: 100%;
}
#submit{
    float: top;
    height: 50px;
}
.myBtn{
    width: 30%;
    height: 40px;
    margin-left: 35%;
    margin-top: 20px;
}
#words{
    text-align: center;
    font-size: small;
    width: 100%;
    float: top;
}
#words p{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}
