[type="image"]{

 margin-left: 39%;
 width:90px;
 height:90px;
 border:0px;
 cursor:pointer;
}

p{
    text-align: center;
}

body{
    font-size:10px;
    font-family:Georgia;
    font-style:italic;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
  }
