.button1{
    margin-top: 30px;
    border-radius: 5px;
    font-size: 15px;
    width: 140px;
    height: 32px;
    color: white;
    border: #007dff 0 solid;
    background-color: #8cc92c;
}
.button1:hover{
    background-color: #72a325;
}
.layer{
    float: top;
    width: 100%;
    padding: 5px;
    height: 56px;
    margin: 8px;
}
.template{
    min-height: 750px;
}