.table-striped>tbody>tr:nth-of-type(odd){
    background-color: rgba(240, 248, 255, 0.24);
}
.navbar{
    min-height: 3px;
}

.head{
    width: 100%;
    height: auto;
}

h3{
    text-align: center;
}

.label{
    text-align: center;
    color: rgb(40, 92, 38);
}

#buttom,#buttom1,#buttom2{
    margin-left: 50px;
    color: darkblue
}
