
body{
  font-size:10px;
  font-family:Georgia;
  font-style:italic;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
}

#section1 {
  padding-top: 10px;
}

.grid{
  width: 95%;
  margin-left: 10px;
  padding-top: 30px;
}

.grid-sizer{
  width: 50%;
}

.element-item{
  width: 50%;
  padding: 0 15px;
}

/*商品內容*/

.thumbnail img {
    width: 100%;
}

.caption {
    height: 50px;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

/* 取消圖片反白 */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

